@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s !important;
}
body{
    background-color: var(--background-primary);
}
:root{
    
    --background-primary : #fff;
    --background-secondary : #EFF1F7;
    --background-total : #88AAEA;
    --text-color-primary : #34434D;
    --text-color-secondary : #5D6971;
    --opacity-span : 0.8;

    --font-15 : 15px;
    --font-25 : 25px;
    --font-18 : 18px;
    --font-20 : 20px;
    --font-40 : 40px;

   
    /*
    //tela noturna
    --background-primary : #383a3b;
    --background-secondary : #34434D;
    --background-total : #88AAEA;
    --text-color-primary : #EFF1F7;
    --text-color-secondary : #5D6971;
    --opacity-span : 0.6; */
}
main{
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    display: flex;
    overflow: hidden;
}
.primary-painel{
    width: 60vw;
    height: 100%;
    background-color: var(--background-primary);
}
.primary-painel .text-area{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.primary-painel .text-area h1{
    font-weight: bold;
    font-size: 60px;
    color: var(--text-color-primary);

}
.primary-painel .text-area .painel-font{
    display: flex;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}
.primary-painel .text-area .painel-font div{
    width: 38px;
    height: 48px;
    font-size: 25px;
    color: var(--text-color-primary);
    display: flex;
    margin: 0 15px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}
.primary-painel .text-area h1 span{
    font-size: 24px;
}

.primary-painel .text-area i{
    font-size: 2.4rem !important;
    color: var(--text-color-primary);
}

.primary-painel .text-area label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
.primary-painel .text-area label input[type="checkbox"] {
    display: none;
  }
  
  .primary-painel .text-area label span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text-color-primary); /*#fff*/
    transition: 0.4s;
    border-radius: 15px;
  }
  
  .primary-painel .text-area label span:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background-primary);
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .primary-painel .text-area label input:checked + span {
    background-color: var(--text-color-primary);
  }
  
  .primary-painel .text-area label input:checked + span:before {
    transform: translateX(30px);
  }

.primary-painel .pokemon-grid{
    width: 100%;
    height: 100%;
    background-color: var(--background-primary);
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    column-gap: 30px;
    padding: 0 30px 200px 30px;
    overflow-y: scroll;
    padding: 100px 40px;
}
.primary-painel .pokemon-grid::-webkit-scrollbar{
    display: none;
}
.primary-painel .pokemon-grid .area-pokemon-div{
    min-width: 30%;
    flex: 0.5;
    height: min-content;
    background-color: var(--background-secondary);
    border-radius: 10px;
    margin: 40px 0 70px 0;
    position: relative;
    border: 0.7px solid transparent;
    transition: 0.4s ease;
}
.primary-painel .pokemon-grid .area-pokemon-div:hover{
    border: 0.7px solid var(--text-color-secondary);
    cursor: pointer;
}
.primary-painel .pokemon-grid .area-pokemon-div:hover img{
    width: 165px;
}
.primary-painel .pokemon-grid .area-pokemon-div img{
    image-rendering: pixelated;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -90px;
    width: 150px;
    transform-origin: center;
    transition: 0.15s ease;
}
.primary-painel .pokemon-grid .area-pokemon-div p{
    font-size: var(--font-15);
    color: var(--text-color-primary);
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
}
.primary-painel .pokemon-grid .area-pokemon-div h1{
    text-align: center;
    font-size: var(--font-25);
    color: var(--text-color-primary);
    word-break: break-all;
}
.primary-painel .pokemon-grid .area-pokemon-div .types-pokemon{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    gap: 10px;
}
.primary-painel .pokemon-grid .area-pokemon-div .types-pokemon span{
    color: var(--text-color-primary);
    width: min-content;
    height: min-content;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    margin: 10px 0;
    font-size: var(--font-15);
    opacity: var(--opacity-span);
    font-weight: 600;
    color: #000;
}
.secondary-painel{
    width: 40vw;
    height: 100%;
    background-color: var(--background-secondary);
    overflow-y: scroll;
}
.secondary-painel::-webkit-scrollbar{
    display: none;
}
.secondary-painel .input-area{
    width: 100%;
    height: auto;
    padding: 23px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
.secondary-painel .input-area input{
    width: 100%;
    background-color: var(--background-primary);
    font-size: var(--font-16);
    border: 0;
    font-weight: 600;
    padding: 18px;
    border-radius: 10px;
    transition: 0.15s ease;
    font-size: var(--font-18);
    color: var(--text-color-primary);
}
.secondary-painel .input-area input::placeholder{
    color: var(--text-color-primary);
}
.secondary-painel .input-area input:focus{
    border: 0.5px solid var(--text-color-secondary);
    outline: 0;
}
.secondary-painel .input-area i{
    font-size: 3rem;
    color: var(--background-total);
    cursor: pointer;
    display: none;
}
.secondary-painel .pokemon-painel-area{
    width: 100%;
    margin-top: 130px;
    background-color: var(--background-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full{
    width: 70%;
    height: auto;
    background-color: var(--background-primary);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full img{
    display: block;
    image-rendering: pixelated;
    width: 200px;
    transform: translateY(-100px);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full p{
    font-size: var(--font-25); 
    color: var(--text-color-primary);
    font-weight: 600;
    margin-top: -80px;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full h1{
    font-size: var(--font-40);
    color: var(--text-color-primary);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full h2{
    font-size: var(--font-18); 
    margin-top: 15px;
    color: var(--text-color-primary);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .types-pokemon{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: center;
    gap: 10px;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .types-pokemon span{
    color: #000;
    width: min-content;
    height: min-content;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: var(--opacity-span);
    font-weight: 600;
    font-size: var(--font-15);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .sinopse-pokemon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .sinopse-pokemon h2{
    font-size: var(--font-18); 
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .sinopse-pokemon span{
    font-size: var(--font-15);
    color: var(--text-color-primary);
    width: 80%;
    text-align: center;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .hw-area{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .hw-area div{
    min-width: 50%;
    text-align: center;
    margin: 15px 0 15px 0;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .hw-area div h2{
    font-size: var(--font-18); 
    margin-bottom: 10px;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .hw-area div span{
    color: var(--text-color-primary);
    background-color: var(--background-secondary);
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: var(--font-20);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .status-area{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0 50px 0;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .status-area div{
    min-width: 12%;
    background-color: var(--background-secondary);
    border-radius: 20px;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .status-area div:last-child{
    background-color: var(--background-total);
    color: var(--background-primary);
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .status-area div h2{
    text-align: center;
    font-size: var(--font-15);
    padding: 5px;
}
.secondary-painel .pokemon-painel-area .painel-pokemon-full .status-area div:last-child h2{
    color: var(--background-primary);
}

@media(max-width: 1555px){
    
    .primary-painel .text-area h1{
        font-size: 50px;
    }

    .primary-painel .text-area h1 span{
        font-size: 20px;
    }

    @media(max-width: 1400px){
    
        .primary-painel .text-area h1{
            font-size: 40px;
        }
    
        .primary-painel .text-area h1 span{
            font-size: 15px;
        }

        .primary-painel .pokemon-grid .area-pokemon-div{
            min-width: 13vw;
        }

        @media(max-width: 1200px){
            .primary-painel .text-area{
                display: block;
            }
            .primary-painel .text-area h1{
                text-align: center;
                font-size: 64px;
            }
            .primary-painel .text-area div:nth-child(3){
                justify-content: center;
                font-size: 22px;
            }

            .primary-painel .pokemon-grid .area-pokemon-div{
                min-width: 40%;
            }

            @media(max-width: 1000px){
                .primary-painel .pokemon-grid .area-pokemon-div{
                    min-width: 100%;
                }

                @media(max-width: 900px){
                    .primary-painel{
                        width: 100vw;
                    }

                    .primary-painel .text-area{
                        display: flex;
                    }

                    .primary-painel .text-area h1{
                        font-size: 30px;
                    }

                    .primary-painel .text-area h1 span{
                        font-size: 15px;
                    }

                    .primary-painel .pokemon-grid .area-pokemon-div{
                        min-width: 30%;
                    }

                    .secondary-painel{
                        display: none;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }

                    .secondary-painel .input-area i{
                        display: block;
                    }

                    @media(max-width: 700px){

                        .primary-painel .text-area{
                            display: block;
                        }

                        .primary-painel .pokemon-grid .area-pokemon-div{
                            min-width: 40%;
                        }  

                        @media(max-width: 500px){
                            .primary-painel .pokemon-grid .area-pokemon-div{
                                min-width: 100%;
                            } 
                        }

                    }
                }

            }

        }

    }

}